*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #010101;
}

.header{
display: flex;
justify-content: space-evenly;
height: 13vh;
width: 100vw;
background: transparent;
background-color: #010101;
}

.logoContainer{
    height: 100%;
    width: 41%;
    background:transparent;
    text-align: left;
    margin-top: 2%;
    color:#c4c4c4;
    font-family: "alex brush", cursive;
    font-size:x-large; 
}

.navContainer{
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 41%;
    background:transparent;
    font-family: ds-digital;
    font-weight: lighter;
    color:#c4c4c4;
    text-align:right;
    margin-top: 3%;
    vertical-align: baseline;
}

.hero{
    display: flex;
    justify-content: space-evenly;
    height: 60vh;
    width: 100vw;
    background-image: url("../images/daw.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 92vw, 60vh;
    opacity: 15%;
    }
    
    .leftHeroBlank{
        height: 100%;
        width: 20%;
        background:transparent;
    }
    
    .ctrHeroText{
        height: 100%;
        width: 60%;
        background:transparent;
    }
     
    .intro {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: monospace;
        font-weight: lighter;
        letter-spacing: 1px;
        line-height: 1.3;
        color:#f5f5f5;
        text-align: center;
        background: transparent;
      }

    .rightHeroPic{
        height: 100%;
        width: 20%;
        background:transparent;
    }

    .foregrd {
        position: absolute;
        float: right;
        right: 0%;
             bottom: 0%;
                    vertical-align: bottom;
                    z-index: 300;
                    background-color: transparent;
                        }

    .footer{
        display: flex;
        height: 27vh;
        width: 100vw;
        background-image: url("../images/blackwood.jpg");
            background-repeat:round;
            opacity: 70%;
        }
        

        .phonesContainer{
            width: 20%;
            height: 100%;
            background-color: transparent;
        }

        .phones{
            width: 19%;
            margin-left: 5%;
            z-index: 200;
            position: absolute;
            bottom: 0%;
            background-color: transparent;
            filter: brightness(0.92) contrast(1.29);
        }

        .boardContainer{
            height: 100%;
            width: 60%;
            background-color: transparent;
            background-image: url("../images/board.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 60%;
        }

        .padContainer{
            display: flex;
            justify-content: center;
            height: 95%;
            width: 35%;
            margin-left: 28%;
            background-color: transparent;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;
            gap: 2%;
        }

        .faxpad{
            filter: drop-shadow(0px 1px 2px #FF00C7);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #FF00C7;
            height: 38%;
            margin: auto;
            margin-top: 6%;
        }

        .sklzpad{
            filter: drop-shadow(0px 1px 2px #00FFE1);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #00FFE1;
            height: 38%;
            margin: auto;
         margin-top: 6%;
        }

        .prjxpad{
            filter: drop-shadow(0px 1px 2px #14EC11);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #14EC11;
            height: 38%;
            margin: auto;
            margin-top: 6%;
        }

        .cntxpad{
            filter: drop-shadow(0px 1px 2px #EC4915);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #EC4915;
            height: 38%;
            margin: auto;
            margin-top: 6%;
        }

        .rsmepad{
            filter: drop-shadow(0px 1px 2px #FF0035);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #FF0035;
            height: 38%;
            margin: auto;
            margin-bottom: 5%;
        }

        .lnkdpad{
            filter: drop-shadow(0px 1px 2px #0600FF);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #0600FF;
            height: 38%;
            margin: auto;
            margin-bottom: 5%;
        }

        .gitpad{
            filter: drop-shadow(0px 1px 2px #BD00FF);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #BD00FF;
            height: 38%;
            margin: auto;
            margin-bottom: 5%;
        }

        .behcpad{
            filter: drop-shadow(0px 1px 2px #FCFF55);
        /* offset-x | offset-y | blur-radius | spread-radius | color */
            box-shadow: 0px 1px 2px 2px #FCFF55;
            height: 38%;
            margin: auto;
            margin-bottom: 5%;
        }

        .mouseContainer{
            height: 100%;
            width: 20%;
            background-image: url("../images/mouse.png"); 
            background-repeat: no-repeat;
            background-position: center;
            background-size: 40%;
            background-position-x: -16%;
            background-color: transparent;
            filter: brightness(1) contrast(1.29);
        }

        .bottom-right {
            position: absolute;
            bottom: 0%;
            right: -5%;
            font-family: monospace;
            font-weight: bold;
            color: #c4c4c4;
            transform: translate(-50%, -50%);
            text-align: right;
            z-index: 500;
            background-color: unset;
          }

          
.volbar {
    position: absolute;
    right: 590px;
    bottom: 35px;
    z-index: 200;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }

  .vol{
      background:transparent;
  }
  
  .trkbar {
    position: absolute;
    right: 535px;
    bottom: 35px;
    z-index: 200;
    font-family: ds-digital;
    font-weight: normal;
    color: #f5f5f5;
    text-align: center;
    background: transparent;
  }
  
  .fader {
    position: absolute;
    right: 597px;
    bottom: 75px;
    z-index: 300;
    background: transparent;
  }
  
  .faderr {
    position: absolute;
    right: 540px;
    bottom: 115px;
    z-index: 300;
    background: transparent;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
    "arrow preload";
    z-index: 300;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 65%;
    text-align: center;
    background:transparent;
  }

  .gridChild {
    height: 0px;
    z-index: 300;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 65%;
    text-align: center;
    background:transparent;
  }
  .arrow {
      position: relative;
    grid-area: arrow;
    text-align: center;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 65%;
    text-align: center;
    background:transparent;
  }
  .preload {
    grid-area: preload;
    text-align: center;
    z-index: 300;
    background-color:rgba(0, 0, 0, 0);
    border-bottom-left-radius: 65%;
    border-bottom-right-radius: 65%;
  }
  .bounceMe {
    animation: bounceArrow 0.8s infinite;
  }
 @keyframes bounceArrow {
    from {
      margin-top: 54vh;
    }
    50% {
      margin-top: 56vh;
    }
    to {
      margin-top: 54vh;
    }
  }
  
  .sklzBox{
      background:transparent;
display: block;
position: center;
height: 90%;
margin-left:20%;
  }
